version: '3.6'
services:
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    ports: 
      - 1972
      - 52773
      - 53773
    volumes:
      - ./:/irisdev/app

    # build fronend in docker  
    # web:
    #   build:
    #     context: front
    #     dockerfile: dockerfile-web
    #   ports:
    #     - 8080:80
  